body {
	font-family: Verdana;
}
button {
	margin: 2.0em 0.0em;
	padding: 0.5em 2.0em;
	background-color: #117bff;
	font-weight: bold;
	color: white;
}
div {
	color: white;
	background-color: rebeccapurple;
}